.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
hr {
  background: #d4d4e3;
  height: 1px;
  border: none;
  margin-top: 5px;
}
.stats {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
}
.lineGraph {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .stats {
    flex-direction: column;
  }
  .MuiSelect-select {
    width: 150px !important;
  }
}
