.table {
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: scroll;
  overflow-x: hidden;
  height: 340px;
  background: #fff;
}
.table td {
  padding: 3px 10px;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table tr:nth-of-type(odd) {
  background: #f2f2fc;
}
